*.pyc
*.csv
*.tar.gz*
*.pkl.gz
**/__pycache__/
**/.ipynb_checkpoints/
**/.pytest_cache/
**/.mypy_cache/
**/.hypothesis/
**/.pkl_memoize_py3/
**/progress/
.dataset
build/
.vscode/
cmake/config.cmake
events.out.tfevents.*
temp/
*.pb
*.onnx
output
