cffi
cpplint
Cython
decorator
docutils
dtlib
numpy>=1.23.5
pylint
pytest>=6.2.4
pytest_xdist>=2.2.1
packaging>=21.0
PyYAML
tqdm>=4.62.3
typing_extensions>=4.10.0
xgboost>=1.7.1
requests
rapidfuzz>=3.8.0
attrs
cloudpickle
ml_dtypes
psutil
scipy
tornado
