cffi==1.16.0    
cpplint==1.6.1    
Cython==0.29.32    
decorator==5.1.1    
docutils==0.19    
dtlib==0.0.0.dev2    
flatbuffers==22.12.6    
matplotlib==3.6.3    
numpy>=1.23.5    
Pillow==10.3.0    
protobuf==3.20.3    
psutil==5.9.4    
pylint==3.1.0    
pyserial==3.5    
pytest==7.2.0    
pytest_xdist==3.5.0    
PyYAML==6.0.1    
tornado==6.3.3    
tqdm==4.64.1    
transformers==4.36.0    
treelib==1.7.0    
typeguard==2.13.3             
typing_extensions==4.10.0    
xgboost==1.7.1    
